body {
    width: 0 auto;
    margin: 0 auto;
    font-family: "Helvetica","Microsoft Yahei","微软雅黑","Arial","sans-serif";
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #FFF;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb {
    background: #CCC;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover {
    background: #AAA;
}
::-webkit-scrollbar-thumb:active {
    background: #888;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
}

::selection {
    background: #9954bb; 
    color:white;
}

::-moz-selection  {
    background: #9954bb; 
    color:white;
}

a {  
   color:#007fff;
}

#fix-top-header {
    display: block;
    position: fixed;
    top: 0;
    opacity: .95;
    box-shadow: 0 1px 1px #D0D0D0;
    z-index: 100;
    padding: 0;
    padding-left: 10px;
    width: 100%;
    height: 35px;
    background-color: #F7F7F7;
    border-bottom: 1px solid #FAFAFA;
    line-height: 35px;
    font-weight: bold;
}

#fix-top-inner {
    float:left;
}
#fix-top-action {
    float:right;
    padding-right: 10px;
}
    
.list {
    margin-top: 35px;
}

.list-box {
    border: 1px solid #8e7cc3;
}
.list-box-inner {
    border-top: 1px solid #007fff;
}
.list-box-heading {
    font-weight: bold;
    background-color: #007fff;
}
.list-box-heading a,
.list-box-heading a:hover,
.list-box-heading a:active,
.list-box-heading a:visited {
    padding: 5px;
    display: block;
    outline: 0;
    color: #FFF;
    text-decoration: none;
    background-color: #6aa84f;
}


.list-box-inner .list-box-heading a,
.list-box-inner .list-box-heading a:hover,
.list-box-inner .list-box-heading a:active,
.list-box-inner .list-box-heading a:visited {
    background-color: #79bcff;
}

.list-box-heading a:hover,
.list-box-heading a:active {
    background-color: rgba(0, 0, 0, 0.1) !important;
}


.list-box-inner .list-box {
    border: 1px solid #d9d9d9;
}
.list-box-inner .list-box-inner {
    border-top: 1px solid #79bcff;
}
.list-box-inner .list-box-heading {
    background-color: #79bcff;
}


.list-box-heading i{
    float:right;
    padding-right:5px;
}

.list-box-inner-wrap {
    position: relative;
    height: 0;
    overflow: hidden;
}

.table-hover tbody tr:hover td, 
.table-hover tbody tr:hover th {
    background-color: #e06666;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.table th, 
.table td {
    padding: 5px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 0px;
}

.scroll-top {
    position: fixed;
    right: 50px;
    bottom: 50px;
    padding: 10px;
    padding-top: 0px;
    width: 20px;
    height: 25px;
    z-index: 1000;
    color: #FFF;
    text-align: center;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.7);
}

.menu {
    position:relative;
}
.menu img{
    display:none;
}
.menu:hover img{
    display:block;
    position: absolute; left: 50px; top: 25px;
    width: 1000%;
}